body {
    margin: -40px; /* เพิ่ม px เพื่อความถูกต้อง */
    margin-right: 40px;
    font-family: 'Anton', sans-serif; /* เปลี่ยนฟอนต์ */
    display: flex;
    flex-direction: column; /* จัดเรียงแนวตั้ง */
    justify-content: center; /* จัดกึ่งกลางแนวตั้งของเนื้อหา */
    align-items: center; /* จัดกึ่งกลางแนวนอนของเนื้อหา */
    min-height: 80vh; /* ทำให้เนื้อหาครอบคลุมหน้าจอทั้งหมด */
}
.header-container {
    flex-direction: row;
}
.header-top .shop-name {
    font-size: 32px; /* ขนาดตัวอักษรใหญ่ขึ้น */
    font-weight: bold;
    color: #000000;
}
.registration-form {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    margin-top: 100px; /* เพิ่มระยะห่างจากขอบด้านบน */
    justify-content: center; /* Center content horizontally */
    background-color: #e9a8c8; /* Optional: Background color */
}
.registration-form h2 {
    text-align: center;
}
.form-group {
    flex: 1;
    margin-right: 25px;
    font-size: 20px; /* ลดขนาดตัวอักษรของปุ่ม */
}

.form-group:last-child {
    margin-right: 0;
}


.form-group label {
    display: block;
    margin-bottom: 10px;
}


.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.form-row .form-group {
    flex: 1;
}

.submit-btn {
    text-align: right;
    margin-top: 20px; /* ลด margin-top */
}

.submit-btn button {
    background-color: #f8d1ff;
    font-family: 'Anton', sans-serif; /* เปลี่ยนฟอนต์ */
    border: none;
    padding: 15px 30px; /* ลด padding ของปุ่ม */
    border-radius: 10px;
    font-size: 16px; /* ลดขนาดตัวอักษรของปุ่ม */
    color: #000;
    cursor: pointer;
}

.submit-btn button:hover {
    background-color: #f3b9ff;
}

.register-button {
    background-color: #ffffff; /* Pink background */
    color: #000; /* Black text */
    padding: 15px;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: 20px;
    text-align: center;
    display: block; /* Make sure it is a block-level element */
    margin: 0 auto; /* Center the button horizontally */
}


.register-button:hover {
    background-color: #e491a4; /* Slightly darker pink on hover */
}
